<!DOCTYPE html>
<html>
  <meta charset="utf-8" />

  <body>
    <div class="row">
		<div class="large-2 small-2 columns">
			<img src="assets/logo.png" alt="" />
		</div>
		<div class="large-10 small-10 columns">	
			<div class="row">				
				<h1>Welcome to My Webpage!</h1>
			</div>
			<div class="row" id="mynav">		
				<!-- Nav Bar that contains 7 elements with a couple of dropdown lists, hidden when small-->
				<nav class="top-bar hide-for-small" data-topbar role="navigation">
					<section class="top-bar-section">
						<ul class="left">
							<li class=<%= active1 %>>
								<a href="/">Home Page</a>
							</li>
							<li class=<%= active2 %>>
								<a href="/aboutMe">About Me</a>
							</li>
							<li class="<%= active3 %> <%= active3a %>">
								<a href="/projects">Projects</a>
								<ul class="dropdown">
									<li><a href="/projectJumper">Jumper!</a></li>
									<li><a href="/projectAdvancedSpaceWars">Advanced Space Wars</a></li>
									<li><a href="/projectSolarSystem">ThreeJS Solar System</a></li>
									<li><a href="/projectAndroidHealth">Android Health App</a></li>
								</ul>
							</li>
							<li class="<%= active4 %> <%= active4a %>">
								<a href="/services">Services</a>
								<ul class="dropdown">
									<li><a href="/servicesDevelopment">Development</a></li>
									<li><a href="/servicesWebDesign">Web Design</a></li>
									<li><a href="/servicesTutoring">Tutoring</a></li>
								</ul>
							</li>
							<li class="hide-for-medium">
								<a href="https://github.com/alweky/">GitHub</a>
							</li>
							<li>
								<a href="/contactMe">Contact Me</a>
							</li>
							<li class="hide-for-medium">
								<a href="/siteMap">SiteMap</a>
							</li>
						</ul>
					</section>
				</nav>
				<!-- Breadcrumbs section which only shows for large and therefore is hidden for anything smaller-->
				<ul class="breadcrumbs hide-for-small hide-for-medium">
					 <li><a href="index.html">Home</a></li>
				</ul>
				<div class="icon-bar five-up hide-for-large hide-for-medium hide-for-xlarge">
					<a class="item" href="index.html">
						<img src="assets/navHome.png" >
						<label>Home</label>
					</a>
					<a class="item" href="aboutMe.html">
						<img src="assets/navAboutMe.png" >
						<label>About Me</label>
					</a>
					<a class="item" href="project.html">
						<img src="assets/navProject.png" >
						<label>Projects</label>
					</a>
					<a class="item" href="services.html">
						<img src="assets/navServices.png" >
						<label>Services</label>
					</a>
					<a class="item" href="contactMe.html">
						<img src="assets/navContact.png" >
						<label>Site Map</label>
					</a>
				</div>
			</div>
		</div>	
	</div>
  </body>
</html>
